<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="api_base_url" value="https://api.twitter.com/"/>
    <add key="oauth_consumer_key" value="fGHVql8O0hpeLXb3bRbbn8uZ6"/>
    <add key="oauth_consumer_secret" value="pbozSS0xqSFNc4LF9hTyqwXTT2SefvMntz9BrSpzPHXu1ApPRX"/>
  </appSettings>
</configuration>